.font-weight-heavy {
    font-weight: $fontWeightHeavy;
}
.mb0 {
    margin-bottom: 0px!important;
}
.mt0 {
    margin-top: 0px!important;
}
.mr5 {
    margin-right: 5px!important;
}
.mt5 {
    margin-top: 5px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.mt20 {
    margin-top: 20px!important;
}
.mb20 {
    margin-bottom: 20px!important;
}
.mt95 {
    margin-top: 95px;
}
.ml0 {
    margin-left: 0!important;
}
.pt0 {
    padding-top: 0!important;
}
.pt5 {
    padding-top: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pr0 {
    padding-right: 0;
}
.pl0 {
    padding-left: 0!important;
}
.well {
    padding: 15px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.text-left {text-align: left!important;}
.display-inline-block {display: inline-block;}
.display-inline {display: inline;}
.min-height-0 {min-height: 0!important;}
